name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup xmake
        uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: latest

      - name: Configure xmake
        run: xmake f -m release

      - name: Build
        run: xmake

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: RandomTickOptimizer-windows-x64
          path: build/Release/RandomTickOptimizer.dll
